<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, 
                     minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>오산대학교 투표</title>
  </head>
  <body>
    <div>
      <div class="left">
        <div class="logo">logo</div>
        <div class="welcome">
          <h1>오산대학교 학생 여러분<br />반갑습니다.</h1>
          <h2>자신의 학번을 입력해주세요.</h2>
          <input
            type="number"
            class="student_number"
            placeholder="ex) 2021320008"
          />
        </div>
      </div>
      <div class="right"></div>
    </div>
  </body>
</html>
